:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  var _expenditure_summary   = #{js_safe(@report.expenditure_chart)};
  var _budget_summary  = #{js_safe(@report.budget_chart)};
  var _max_percentage = #{js_safe(@report.max_percentage)}

.section_form.topless.wrapped.last
  .full
    .first-half
      %h2 Expenditure Summary
      .code_spent.bordered

    .second-half
      %h2 Budget Summary
      .code_budget.bordered

  #report-data
    = render 'reports/shared/table'
