%li.right
  %ul#nav.horizontal
    %li.js_dropdown_menu
      = link_to '#', class: 'js_dropdown_trigger dropdown' do
        Detailed Report
        = image_tag "icon_dropdown.png"

      %ul.menu_items{style: 'display: none'}
        %li
          =link_to 'Expenditure', download_overview_response_path(@report.resource, type: 'spend')
        %li= link_to 'Budget', download_overview_response_path(@report.resource, type: 'budget')
