%li= link_to "Projects", '#', :class => "active nav-tab", :"data-tab" => 'projects_tab', :"data-report" => 'projects'
%li= link_to "Locations", '#', :class => "nav-tab", :"data-tab" => 'locations_tab', :"data-report" => 'locations'
%li= link_to "Inputs", '#', :class => "nav-tab", :"data-tab" => 'inputs_tab', :"data-report" => 'inputs'

