%h2
  = image_tag "icon_reporter.png", :class => "heading_icon"
  Latest Files
  .read_more
    %a= link_to 'view all', admin_documents_path
.dashboard_section
  %table.modern_table
    = render 'admin/documents/documents', :documents => @documents, :show_manage_bar => false
