%h2
  = image_tag "icon_reporter.png", :class => "heading_icon"
  Latest Files
  .read_more.files_read_more= link_to "view all", current_user.sysadmin? ? admin_documents_path : documents_path
.dashboard_section
  - if @documents.present?
    %table.modern_table
      = render 'documents/documents', :documents => @documents
  - else
    %p There are no files available for download.
