%h2
  = image_tag "icon_reporter.png", :class => "heading_icon"
  Latest Health Resource Tracker Files
.dashboard_section
  - if @documents.present?
    %table.modern_table
      = render 'documents/documents', :documents => @documents

    .files_read_more= link_to "view all", current_user.sysadmin? ? admin_documents_path : response_documents_path(current_or_last_response)
  - else
    %p There are no files available for download.
