.wrapper#js_files_download.landing-table-wrap
  %h3 Latest Health Resource Tracker Files
  - if @documents.present?
    %table.landing-table
      = render 'documents/documents', :documents => @documents

    = will_paginate @documents, :class => "pagination js_pagination"

  - else
    %p.landing-empty There are currently no shared files available. Please check back soon.
