%li
  - unless code.leaf?
    %div.js_code_row.clearfix{id: code.id}
      %span.js_icon.collapsed +
      = link_to code.short_display, edit_admin_code_path(code), :class => "code-label"
  - else
    %div.clearfix
      %span
      = link_to code.short_display, edit_admin_code_path(code), :class => "code-label"

  - unless code.leaf?
    %ul{id: "#{ code.id }_act", style: "display: none"}
      - code.children.each do |child|
        = render 'code_row', code: child
