- title("Codes")

%h1.main_heading Codes
%hr.heading

.section_overlap
  %ul.section_nav
    - ["Locations", "Purposes", "Inputs", "Beneficiaries"].each do |filter|
      - css_class = "selected" if params[:filter] == filter || (filter == 'All' && params[:filter].blank?)
      %li{class: css_class}
        = link_to filter, admin_codes_path({sort: params[:sort], direction: params[:direction], query: params[:query], filter: filter})

.section_form.single.connect.topless
  #search.push
    = form_tag admin_codes_path, method: :get do
      = render 'shared/search_form'

  %ul.activity_tree
    - @codes.each do |code|
      = render 'code_row', code: code

