- rep = @report_map[key]

- if rep
  = link_to "Export", admin_reports_detailed_path(rep), :title => 'CSV (Comma Separated Value) report', :class => "sml_btn"
  .hint= "(updated #{distance_of_time_in_words_to_now(rep.csv_updated_at)} ago)" if rep.csv_updated_at
- else # If report wasnt generated yet, allow user to regen it.
  Export
.regenerate= link_to image_tag("icon_regenerate.png"), generate_admin_reports_detailed_path(key), :title => 'Regenerate report'
