%ul
  %li{:class => (params[:controller] == 'documents' ? 'active' : nil)}
    = link_to 'Files', response_documents_path(current_or_last_response)
  %li{:class => (params[:controller] == 'reports' ? 'active' : nil)}
    = link_to 'Dynamic Reports', response_reports_path(current_or_last_response)

