%ul
  %li{:class => (params[:controller] == 'reports' ? 'active' : nil)}
    = link_to 'Overview', reports_path
  %li{:class => (params[:controller] == 'documents' ? 'active' : nil)}
    = link_to 'Files', response_documents_path(current_or_last_response)
  - if current_user.sysadmin? && is_admin_controller
    %li{:class => (params[:controller] == 'admin/reports' ? 'active' : nil)}
      = link_to 'Dynamic', response_reports_path(current_or_last_response)

