.section_overlap
  %ul.section_nav
    - ["All", "Not Yet Started", "Started", "Submitted", "Rejected", "Accepted"].each do |filter|
      - css_class = "selected" if params[:filter] == filter || (filter == 'All' && params[:filter].blank?)
      %li{:class => css_class}
        = link_to filter, {:sort => params[:sort], :direction => params[:direction], :query => params[:query], :filter => filter}
    %li.right
      = link_to "Print This Page", "javascript:window.print()", :id => "print-page", :class => "icon print"


