%fieldset.inputs
  %ol.section_form.single.connect
    %li
      %ul
        = f.select :organization_id, options_from_collection_for_select(Organization.ordered, 'id', 'name'), label: 'Organization', hint: 'The organization to create the response for'
        = f.select :data_request_id, options_from_collection_for_select(DataRequest.sorted, 'id', 'name'), label: 'Request', hint: 'The request to respond to'
    %li.last
      %ul.horizontal.section_form.last.connect
        %fieldset.buttons.push-12
          = f.submit "Save", class: 'next update'
