= render :partial => 'admin/shared/codes_menu'

.section_form.single.connect.topless
  #search.push
    = form_tag admin_purposes_path, method: :get do
      = render 'shared/search_form'

  %ul.activity_tree
    - @purposes.each do |purpose|
      = render 'row', purpose: purpose
