%thead
  %tr
    %th Title
    %th.manage Last modified

%tbody
  - documents.each do |document|
    %tr{:class => cycle("even", "odd")}
      %td
        = link_to(document.title, document.document.url, :class => 'title')
        - if document.description.present?
          = link_to image_tag("tooltip.png"), "#", :title => document.description, :class => 'tooltip'
      %td= document.updated_at.strftime("%b %d, %Y")
