/ %thead
/   %tr
/     %th Title
/     %th.manage Last modified

%tbody
  - documents.each do |document|
    %tr{:class => cycle("even", "odd")}
      %td
        - if document.description.present?
          = link_to "?", "#", :title => document.description, :class => 'tooltip typo right'
        = link_to(document.title, document.private_document_url, :class => 'title')

        .hint= document.updated_at.strftime("%b %d, %Y")
        