%tbody
  - documents.each do |document|
    %tr{:class => cycle("even", "odd")}
      %td
        %span.right
          = distance_of_time_in_words(document.updated_at.strftime("%b %d, %Y"), Time.now)
          ago
        = image_tag('document1.png')
        = link_to(document.title, document.private_document_url, :class => 'title tooltip', title: document.description)
