- title("Files")

- content_for :sub_nav do
  = render('shared/reports_sub_nav')

%h1.main_heading
  Files
  = image_tag "alertwarning_icon.png", :title => "Files downloaded from this website are not for distribution.", :class => 'tooltip'
.section_form.single
  - if @documents.present?
    %table.standard
      = render 'documents', :documents => @documents
  - else
    %p.no_data There are no files available for download.

= will_paginate @documents
