- if activities.present?
  - activities.each do |activity|
    = render "activities/activity", :activity => activity
- else
  %tr.none
    %td{:colspan => 100}
      No activities found.
      = link_to "Add Activities now.", new_activity_path, :"data-type" => 'activity', :"data-project" => project.id, :class => 'js_toggle_activity_form js_address'
