- if other_costs.present?
  %tr.sub-head.alt
    %td{:colspan => 100}
      %h4
        Indirect Costs
        
  - other_costs.each do |other_cost|
    = render "other_costs/other_cost", :other_cost => other_cost
    
- else
  %tr.none
    %td{:colspan => 100}
      Indirect Costs not yet added.
      = link_to "Add an Indirect Cost now.", new_other_cost_path(:project_id => project.id), :class => 'js_toggle_other_cost_form'
