%tbody
  - if other_costs.present?
    %tr.sub-head
      %td.wrap-20{:rowspan => 100}
        %h4 Non-Project Indirect Costs

    - other_costs.each do |other_cost|
      = render "other_costs/other_cost", :other_cost => other_cost

  - else
    %tr.none.strong
      %td{:colspan => 100}
        Non-Project Indirect Costs not yet added.
        = link_to "Add an Indirect Cost now.", new_other_cost_path
