%h1.main_heading
  New Indirect Cost
  %span= render 'other_costs/help'

= render 'shared/error_messages', :resource => @other_cost

= semantic_form_for @other_cost, :url => other_costs_path, :html => {:class => "basic_form js_form"} do |f|
  = render 'shared/outlays/form', :f => f, :outlay => @other_cost
