%h1.main_heading Edit Organization

= render 'shared/error_messages', :resource => @organization

= form_for @organization, :builder => CustomFormBuilder, :url => admin_organization_path(@organization), :html => {:method => :put, :class => 'basic_form js_form'} do |f|
  = render '/organizations/form', :f => f
