%h1.main_heading New Organization

= render 'shared/error_messages', :resource => @organization

%h2 Enter organization information
= form_for @organization, :builder => CustomFormBuilder, :url => admin_organizations_path, :html => {:class => 'basic_form js_form'} do |f|
  = render '/organizations/form', :f => f
