%h1.main_heading New data request

= render 'shared/error_messages', :resource => @request

= form_for @request, :builder => CustomFormBuilder, :url => admin_requests_path, :html => {:class => 'basic_form js_form'} do |f|
  = render 'form', :f => f
