%br

%h2 Activity Managers:
.section_form
  - if @activity_managers.present?
    = render 'admin/users/users', users: @activity_managers, show_organization: false
  - else
    %p There are no Activity Managers for this organization

- if current_user.sysadmin?
  %h2 Funder For:
  .section_form
    - if !@organization.out_flows.empty? &&
      = render 'organizations/funder_for', org: @organization
    - else
      %p There are no projects referencing this organization as the funder

  %h2 Implementer For:
  .section_form
    - if @organization.implementer_splits.present?
      = render 'organizations/implementer_for', org: @organization
    - else
      %p There are no activities referencing this organization as the implementer
