.form_aside.section_form.single
  %h3 What currency should I use?
  %p Use the primary currency of all your projects and activities. If a specific project uses a different currency, you can override the currency in the project settings.
  %br
  %h3 How do I enter my fiscal year?
  %p
    We determine your fiscal year using the start month i.e. if you select April, we use the year from 1 April to 31 March.
    %br
    %ul
      %li GoR fiscal year starts in July
      %li USG fiscal year starts in October
      %li Alternatively, if your fiscal year follows the calendar year choose January.
