%p Lost your password?

%p== This e-mail is sent to you because someone (hopefully yourself) requested your password to be reset at #{link_to(root_url, root_url)}

%p If you did not request this, you may safely disregard this message - your password has not been changed yet, and no harm has come from it!

%p To change your password, follow this link: #{link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}

%p This will present you with a form at which you can change your password.

= render 'notifier/signature'
