- title("Edit User")

%h1.main_heading Edit User

= render 'shared/error_messages', :resource => @user

= form_for @user, :builder => CustomFormBuilder, :url => admin_user_path(@user), :html => {:class => "basic_form js_form"} do |f|
  = render 'form', :f => f
