- title("Codes")

%h1.main_heading Codes
%hr.heading

.section_overlap
  %ul.section_nav
    %li{class: params[:controller] == 'admin/locations' ? "selected" : nil}
      = link_to "Locations", admin_locations_path({query: params[:query]})
    %li{class: params[:controller] == 'admin/purposes' ? "selected" : nil}
      = link_to "Purposes", admin_purposes_path({query: params[:query]})
    - ["Inputs"].each do |filter|
      - css_class = "selected" if params[:filter] == filter || (filter == 'All' && params[:filter].blank?)
      %li{class: css_class}
        = link_to filter, admin_codes_path({sort: params[:sort], direction: params[:direction], query: params[:query], filter: filter})
    %li{class: params[:controller] == 'admin/beneficiaries' ? "selected" : nil}
      = link_to "Beneficiaries", admin_beneficiaries_path({query: params[:query]})
