- title("Codes")

%h1.main_heading Codes
%hr.heading

.section_overlap
  %ul.section_nav
    %li{class: params[:controller] == 'admin/locations' ? "selected" : nil}
      = link_to "Locations", admin_locations_path({query: params[:query]})
    %li{class: params[:controller] == 'admin/purposes' ? "selected" : nil}
      = link_to "Purposes", admin_purposes_path({query: params[:query]})
    %li{class: params[:controller] == 'admin/inputs' ? "selected" : nil}
      = link_to "Inputs", admin_inputs_path({query: params[:query]})
    %li{class: params[:controller] == 'admin/beneficiaries' ? "selected" : nil}
      = link_to "Beneficiaries", admin_beneficiaries_path({query: params[:query]})
