%li= link_to "Projects", overview_reports_response_path, :class => "active"
%li= link_to "Locations", '#', :class => "nav-tab", :id => 'locations'
%li= link_to "Inputs", '#', :class => "nav-tab", :id => 'inputs'
