#header_app
  .wrapper
    #logo
      %p= truncate(current_organization_name, :length => 35)

    .right
      %a{:href => '/'}
        = image_tag "rwanda-coat-of-arms-med.png"

    = render :partial => '/layouts/login_nav'
