- landing_page = false unless landing_page
#header
  .wrapper
    %h1
      %a{ :id => "logo", :href => '/'}
        = image_tag "rwanda-coat-of-arms-med.png"
        Rwanda

    = render :partial => '/layouts/login_nav'
