= javascript_include_tag 'application'

:javascript
  rails_authenticity_token = "#{form_authenticity_token}";

-# = stylesheet_link_tag 'custom', 'tipsy', 'ui-lightness/jquery-ui-1.8.14.custom', 'ui.multiselect'
= stylesheet_link_tag 'application', :media => 'screen, projection'
-# = stylesheet_link_tag 'compiled/print.css', :media => 'print'

-# /[if gte IE 7]
-#   = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
